---
import type { CollectionEntry } from 'astro:content';
import { formatDate } from "../utils/formatDate";

type Props = {
    entry: CollectionEntry<'post'>;
}

const { entry } = Astro.props;

---

<article class="flex flex-col">
    <h3 transition:name={entry.id}><a href={`/${entry.collection}/${entry.id}`} class="hover:text-blue-500">{entry.data.title}</a></h3>
    <time datetime={entry.data.date.toISOString()} class="text-xs text-neutral-500 dark:text-neutral-600">{formatDate(entry.data.date)}</time>
</article>