---
import { formatDate } from "../utils/formatDate";
import PageLayout from "./PageLayout.astro";
import Article from "../components/Article.astro";
import Comments from "../components/Comments.astro";
import { render } from "astro:content";

const { postData } = Astro.props;
const { Content } = await render(postData);
---

<PageLayout pageName = "post" title = {postData.data.title} description = {postData.data.description}>

    <Article>
        <h1 class="text-2xl mb-2" transition:name={postData.id}>{postData.data.title}</h1>
        <section class="flex flex-wrap gap-2.5 items-center my-4 text-sm text-neutral-400 dark:text-neutral-600 *:m-0">
            <time datetime={postData.data.date.toISOString()} class="">{formatDate(postData.data.date, 'zh')}</time>
            {postData.data.author && <span>作者：{postData.data.author}</span>}
        </section>
        <Content />
    </Article>

    <section class="my-16 text-neutral-400 dark:text-neutral-600">
        <div class="flex items-center">
            <div class="text-xs rounded-full border border-neutral-400 px-2 shrink-0 dark:border-neutral-600">End of reading</div>
            <div class="border-t border-dashed border-neutral-400 w-full dark:border-neutral-600"></div>
        </div>
        <div class="text-sm text-justify *:my-5">
            <p>如未另行说明，那么本页面中的内容已根据知识共享署名 4.0 许可获得了许可，并且代码示例已根据 Apache 2.0 许可获得了许可。</p>
            {postData.data.updateDate && <p>最后更新时间 (UTC+8)：<time datetime={postData.data.updateDate.toISOString()}>{formatDate(postData.data.updateDate, 'zh')}</time></p>}
        </div>
    </section>

    <section>
        <Comments />
    </section>

</PageLayout>

